<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Isaac Johnsen's Portfolio</h1>
    <p class="lead text-muted">Hello! This is where you will find other computer programmed projects that I worked on and/or am currently working on.</p>
    <p>
      <%= link_to 'Find out more about me', about_path, class: 'btn btn-info' %>
      <%= link_to 'My blog', blogs_path, class: 'btn btn-primary' %>
    </p>
    <p>
      <%= link_to 'New portfolio item', new_portfolio_path, class: 'btn btn-success' if logged_in?(:site_admin) %>
    </p>
  </div>
</section>
