<div class="app-card-container">
  <div class="card">
    <h1>Pages#about</h1>
        
    <hr>
        
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile1.jpg", width: 300, alt:"Profile Picture", class: "profile-img" %>
        <!-- https://yt3.ggpht.com/-48qjYNIF6Ws/AAAAAAAAAAI/AAAAAAAAAAA/XB42MZYoFPc/s900-c-k-no-mo-rj-c0xffffff/photo.jpg -->
      </div>
            
      <div class="col-md-8">
        <p>Find me in app/views/pages/about.html.erb</p>
      </div>
    </div>
  </div>
</div>
