<div class="app-card-container">
  <div class="card">
    <div class="pages-align">
      <h1>About Me</h1>
    </div>
        
    <hr>
        
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "Isaac_Johnsen_2019.jpg", width: 270, alt:"Profile Picture", class: "profile-img" %>
        <!-- app/assets/images/Isaac_Johnsen_2019.jpg -->
        
        
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
            
      <div class="col-md-8">
        <p class="pages-align">
          <b>Hello, my name is Isaac Johnsen.</b> When I was very young, I was highly interested in dinosaurs, and I wanted to become a paleontologist. My interest in dinosaurs has not wavered, but as time went on, I no longer wanted to be a paleontologist; I wanted to be some type of inventor. 
        </p>
        
        <p class="pages-align">
          I've never wanted to be just another consumer. I want to create new things rather than just be a user. With my goal of becoming an inventor in mind, my other interests shaped what exactly I wanted to invent. These include robots and video games. So in the past several years I have taken classes and been a part of programs in order to become some type of engineer, most likely in computer software, mechanical, or mechatronics engineering. Currently I am working to get a BS in Mechatronics Engineering and Technology at Utah Valley University.
        </p>
        
        <p class="pages-align">
          Anyway, here's some other information about me. My favorite movie and book series is How to Train Your Dragon. My favorite video games of all time are Terraria and the Halo series. Other interests besides the aformentioned ones are making art, playing basketball, reading, and writing. 
        </p>
          
          <button
            class="btn btn-secondary about-buttons"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            ᴇᴅᴜᴄᴀᴛɪᴏɴ
          </button>
          
          <button
            class="btn btn-secondary about-buttons"
            type="button"
            data-toggle="collapse"
            data-target="#awards"
            aria-expanded="false"
            aria-controls="awards"
          >
            ᴀᴡᴀʀᴅs
          </button>
          
          <button
            class="btn btn-secondary about-buttons"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            ᴊᴏʙ ʜɪsᴛᴏʀʏ
          </button>
          
          <p>
            <div class="collapse" id="education">
              <div class="card card-block">
                Cottonwood High School
              </div>
              <div class="card card-block">
                Code to Success program
              </div>
              <div class="card card-block">
                Granite Technical Institute
              </div>
              <div class="card card-block">
                Utah Valley University
              </div>
            </div>
          </p>
          
          <p>
            <div class="collapse" id="awards">
              <div class="card card-block">
                Holladay City Award in June 2016
              </div>
              <div class="card card-block">
                Class completion certificates
              </div>
            </div>
          </p>
          
          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-block">
                FatCats Team Member from July 2018 to August 2019
              </div>
            </div>
          </p>
        </p>
      </div>
    </div>
  </div>
</div>
