<div class="app-card-container">
  <div class="card">
    <h1>How to contact me</h1>
    
    <hr>
    
    <div class="row">
      <div class ="col-md-6">
        <h3>Hello!</h3>
        
        <p>HAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHAHA</p>
        
        <h3>Email</h3>
        
        <p>Got any more questions? <a href="mailto:test@test.com?subject=IsaacJohnsenContact" "email me">Email me</a></p>
      </div>
      
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.225937698542!2d-111.85350553297457!3d40.64694969226097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6d6bc49e28b05c1!2sCottonwood+High+School!5e0!3m2!1sen!2sus!4v1499879229767" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<%# <p><%= number_to_phone "8011234567", number_to_currency "1000000", number_to_percentage "95.3678543453278374", number_with_delimiter "3784537" %>
