<div class="app-card-container">
  <div class="card">
    <h1>How to contact me</h1>
    
    <hr>
    
    <div class="row">
      <div class ="col-md-6 pages-align">
        <h3>School Address</h3>
        
        <p>Utah Valley University 800 W University Pkwy, Orem, UT 84058 (United States) </p>
        
        <h3>Email</h3>
        
        <p>Got any more questions? <a href="mailto:isaacjohnsen@gmail.com?subject=IsaacJohnsenContact" "email me">Email me</a></p>
        
        <h3>Social Media</h3>
        
        <p>View <%= link_to "my blog's sidebar", blogs_path %> to find my social media links</p>
      </div>
      
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/place/Utah+Valley+University/@40.2787626,-111.7153739,15z/data=!4m5!3m4!1s0x0:0x63523d8413e98aa1!8m2!3d40.2787626!4d-111.7153739" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<%# <p><%= number_to_phone "8011234567", number_to_currency "1000000", number_to_percentage "95.3678543453278374", number_with_delimiter "3784537" %>
