<div class="inner cover">
  <div id="title">
    <h1 class="cover-heading">Greetings, and welcome to my website</h1>
  </div>
  <p class="lead">Here you will find information about who I am, what I have created in my computer programming experience, and other information I would like to share.</p>
  <p class="lead">
    <%= link_to "ʟᴇᴀʀɴ ᴍᴏʀᴇ", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
